﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CEKSAT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
           
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("CEKSAT", "Index", "Home")</li>
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                    <li style="margin-right:75px">@Html.ActionLink("İletişim", "Contact", "Home")</li>
                </ul>
                <input type="search" style="margin-top:10px" /> 
                <input type="button" value="Ara" style="margin-top:10px" />
                <select style="margin-left:250px">
                    <option value="volvo">Türkçe</option>
                    <option value="saab">İngilizce</option>

                </select>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:25px">

        <div class="col-md-2" style="margin-left:30px">
            <div class="panel panel-default">
                <div class="panel-body">
                    <pre>KATAGORİLER</pre>
                    <form action="">
                        <input type="checkbox">Bilgisayar<br />
                        <input type="checkbox">Televizyon <br />
                        <input type="checkbox">Telefon<br />
                        <input type="checkbox">Otomobil <br />
                        <input type="checkbox">Beyaz Eşya <br />
                        <input type="checkbox">Diğer <br />
                    </form>
                    <br />
                    <pre>ŞEHİRLER</pre>
                    <form action="">
                        <input type="checkbox">İstanbul<br />
                        <input type="checkbox">Ankara <br />
                        <input type="checkbox">İzmir<br />
                        <input type="checkbox">Nevşehir <br />
                        <input type="checkbox">Eskişehir <br />
                        <input type="checkbox">Diğer <br />
                    </form>
                    <pre>Fiyat Aralığı</pre>
                    <form action="">
                        <input type="text" size="4" /> --- <input type="text" size="4" /> <br />
                        <br />
                        <input type="button" value="TARA" style="margin-left:50px">
                    </form>
                </div>
            </div>
                </div>
                <div class="col-md-4" ">
                    <h1>Oğuz ÖNAL</h1>
                    <h1>G151210054</h1>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()

                <hr />
                <footer>
                    <div class="navbar navbar-inverse navbar-fixed-bottom">
                        <div class="container">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                                <li style="margin-left:890px">@Html.ActionLink("İletişim", "Contact", "Home")</li>

                            </ul>
                            <br />
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                                <li style="margin-left:850px">@Html.ActionLink("Sıkça Sorulan Sorular", "About", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
